
<!--Create a page with links to learn more about Joel-->
<div class="container">
    <h1>Get to Know Joel</h1>

    <!--Create two references to websites-->
    <p><strong>Joel performs regularly at Quick Wits Comedy:</strong></p>
    <p><a href="https://www.qwcomedy.com/" target="_blank">Visit Quick Wits Comedy</a></p>

    <p><strong>Check out the Baconsale podcast site:</strong></p>
    <p><a href="https://baconsale.com/" target="_blank">Visit Baconsale</a></p>

    <!--Nest and image in the reference so the image when clicked will go to the website-->
    <p><strong>Click the image below to visit the Baconsale site:</strong></p>
    <a href="https://baconsale.com/" target="_blank">
		<img src="~/baconsalekate.jpg" alt="Joel's Baconsale Photo">
    </a>
</div>
